nav{
    height: 80px;
    background-color: #2C3E50;
    font-weight: bold;
}



nav .navbar-collapse,.resize {
    flex-grow: 0;
}

.navbar-dark .navbar-toggler {
    border-color: #ccc;
}

.central-block{
    background-color: #1ABC9C;
    text-align: center;
    color: white;
    padding-top: 30px;
    padding-bottom: 30px;
}

.central-block h1{
    font-size: 50px
}

.central-block img{
    width: 200px;
}

.line::before, 
.line::after{
    width: 90px;
    height: 5px;
    border-top: 5px solid #fff;
    border-radius: 12px;
    display: inline-block;
    content: '';
    margin-left: 24px;
    margin-right: 24px;
}

.cx{
    text-align: center;
    color: white;
}

.section-container h2{
    font-size: 50px;
}



.line-black::before, 
.line-black::after{
    width: 90px;
    height: 5px;
    border-top: 5px solid black;
    border-radius: 12px;
    display: inline-block;
    content: '';
    margin-left: 24px;
    margin-right: 24px;
}


.line{
        margin-bottom: 24px;

}

.line-list{
    font-size: 28px;
}

.img-boot{
    width: 360px;
    height: 360px;
    text-align: center;
}

.portfolio{
    text-align: center;
}


.center-text{
    margin-bottom: 24px;
    text-align: center;
    padding-top: 30px;
}

.center-text h2{
    font-size: 50px;
}

.block{
    height: 270px;
    margin-bottom: 24px;
    border-radius: 18px ;
}

.block img{
    width: 100%;
    height: 100%;
    border-radius: 18px ;
}

.red{
    background-color:red ;
}

.teal{
    background-color: teal;
}

.black{
    background-color: black;
}

.aqua{
    background-color: aqua;

}

.blue{
    background-color: blue ;
}

.burlywood{
    background-color: burlywood ;
}



.cx-black{
    color: black;
    text-align: center;
}

.section-container{
    background-color: #1ABC9C;
    padding: 50px 0px;
}

.about-text p{
    color: white;
    font-size: 20px;
}




.bg-color-blue{
    background-color: #3A546D;
    color: white;
    text-align: center;
}


.bg-color-copyright{
background-color: #2C3E50;
color: white;
text-align: center;
}


.contact-container{
    padding-top: 48px;
    padding-bottom: 48px;
}

.contact-form input {
    border: 0;
    border-bottom: 1px #ccc solid;
    width: 100%;
    padding-bottom: 12px;
    margin-bottom: 12px;
}

.contact-form textarea {
    border: 0;
    border-bottom: 1px #ccc solid;
    width: 100%;
    margin-bottom: 12px;
}

.centered{
    padding-top: 45px;
    padding-bottom: 45px;
}

.copyright{
    padding-top: 15px;
    padding-bottom: 15px;
}

.social i{
    border: 1px solid white;
    border-radius: 100%;
    padding: 15px;
    margin: 6px;
}





