nav{
    height: 90px;
    background-color: aqua;
}

.central-block{
    background-color: #1ABC9C;
    text-align: center;
    color: white;
}

.portfolio{
    background-color: chartreuse;
    text-align: center;
    color: black;
}

.center-text{
    margin-bottom: 24px;
    text-align: center;
}

.center-text h2{
    font-size: 50px;
}

.block{
    height: 260px;
    margin-bottom: 24px;
}

.block img{
    border-radius: 50%;
}

.red{
    background-color:red ;
}

.teal{
    background-color: teal;
}

.black{
    background-color: black;
}

.aqua{
    background-color: aqua;

}

.blue{
    background-color: blue ;
}

.burlywood{
    background-color: burlywood ;
}

.section-container{
    background-color: aqua;
    padding: 50px 0px;
}

.about-content{
    height: 400px;
    background-color: teal;
}

.contact-me h2{
    text-align: center;
}

.form-control{
    padding: 0;
    border: 0;
    font-size: 20px;
}

#name-box{
    color: black;
}

hr{
    width: 100%;
    height: 2px;
    color: grey
}

.bg-color-blue{
    background-color: #3A546D;
    color: white;
}


.bg-color-copyright{
background-color: #2C3E50;
color: white;
text-align: center;
}



